{% extends 'administrateur/base.html' %}

{% block main %}
<div id="content" class="main-content" >
    <div class="container" style="margin-left:220px;">
        <div class="container">
<div class="row">
    <div id="flRegistrationForm" class="col-lg-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">                                
                <div class="row">
                    <div style="text-align:center;" class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Ajouter Client</h4>
                    </div>                                                                        
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <form method="POST" action="do_client">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" name="prenom" id="rPassword" placeholder="Prenom *">
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" name="nom" id="rPassword" placeholder="Nom *">
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" name="adresse" id="rEmail" placeholder="Adresse *">
                    </div>
                    <div class="form-group mb-4">
                        <input type="number" class="form-control" name="telephone" id="rEmail" placeholder="Telephone *">
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" name="email" id="rEmail" placeholder="Email *">
                    </div>
                    <div class="form-group mb-4">
                        <select class="form-control  basic" name="sexe">
                            <option value="Masculin" selected="selected">Masculin</option>
                            <option value="Feminin">Feminin</option>
                        </select>
                    </div>
                   <div style="display: inline-block;"> 
                    <button style="display: inline-block;" type="submit" class="btn btn-primary mt-3" style="margin-left:250px;">Ajouter</button>
                    <a style="display: inline-block;margin-left:130px;" href="/index" class="btn btn-danger mt-3" >Annuler</a>
                </div>
                    <div class="row">
                        {% if messages %}
                       <div class="col-12">
                          {% for message in messages %}
                          {% if message.tags == 'error' %}
                          <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                          {% endif %}
                          {% endfor %}
                        </div>
                        {% endif %}
                      </div>
                </form>

                <div class="code-section-container">
                            
{% comment %} 
                    <div class="code-section text-left">
                        <pre>
&lt;form&gt;
&lt;div class="form-group mb-4"&gt;
&lt;input type="email" class="form-control" id="rEmail" placeholder="Email address *"&gt;
&lt;/div&gt;
&lt;div class="form-group mb-4"&gt;
&lt;input type="password" class="form-control" id="rPassword" placeholder="Password *"&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
&lt;input type="password" class="form-control" id="rConfirmPassword" placeholder="Confirm Password *"&gt;
&lt;/div&gt;
&lt;small id="emailHelp2" class="form-text text-muted"&gt;*Required Fields&lt;/small&gt;
&lt;div class="form-group form-check pl-0 mt-5"&gt;
&lt;div class="custom-control custom-checkbox checkbox-info"&gt;
&lt;input type="checkbox" class="custom-control-input" id="rChkbox"&gt;
&lt;label class="custom-control-label" for="rChkbox"&gt;Subscribe to weekly newsletter&lt;/label&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;button type="submit" class="btn btn-primary mt-3"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</pre>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    
{% endblock main %}


