{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>    
<link rel="stylesheet" type="text/css" href= "{% static "print.css" %}" media="print">
<!-- <link rel="stylesheet" href="style.css"> -->
    <title>Document</title>
</head>
<body>

      
 
    <div class="wrapper">
        {% for voir_staff in voir_staff.voir_staff.all %}

        <div class="inner" style="background-color: rgb(224, 212, 212);  width: 100%; height: 1000px;">
            <div style="margin-left: 70px;">
                <br>
                <h4>REPUBLIQUE DU SENEGAL &nbsp; N° &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  /MMG/DGéol/GLA/</h4>
                <p style="margin-left: 40px;">Un Peuple Un But Une Fois &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Dakar, le {{voir_staff.date}}  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**********</p>
                
            </div>
            <div style="margin-left: 60px;">

                <h6> MINISTERES DES MINES <br> &nbsp;&nbsp;&nbsp;ET DE LA GEOLOGIE</h6>
                <p style="margin-left: 40px;">&nbsp;&nbsp;&nbsp;**********</p>


            </div>

            <div style="margin-left: 60px;">

                <h6> DIRECTION DE LA GEOLOGIE </h6>
                <p style="margin-left: 40px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**********</p>

            </div>

            <div style="margin-left: 60px;">

                <h6> DIVISION DU GROUPE DES <br>LABORATOIRES D'ANALYSES <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;33 868 69 94</h5>

                
            </div>
            <h3 style="text-align: center;"> <u> FACTURE </u></h3>

            <div style=" border: 1px solid black; width: 400px; height: 70px; border-radius: 10px; margin-left: 90px;">
                <h6 style="margin-left: 10px;"> NOM DU CLIENT: {{voir_staff.client.prenom}}  <br>Adresse: {{voir_staff.client.adresse}} <br> Tel:{{voir_staff.client.telephone}}</h6>

            </div>
            <br>
            <table class="table table-bordered" style="border: 1px solid black; width: 80% ; margin-left: 90px; color: black;"  id="list">
                <thead class="thead-dark" style="border: 1px solid black;">
                  <tr style="border: 1px solid black;">
                    
                    <th style="text-align: center;">DESIGNATION</th>
                    <th style="text-align: center;">Quantite</th>
                    <th style="text-align: center;">Poids en (grammes)</th>
                    <th style="text-align: center;">Titre en caract</th>
                    <th style="text-align: center;">Prix Unitaire(FCFA)</th>
                    <th style="text-align: center;">Prix Total(FCFA)    </th>
        
                    
                  </tr>
                </thead>
                <tbody style="height: 60px;" >  
                    <td style="text-align: center;">lingots d'or</td>
                    <td style="text-align: center;">{{voir_staff.designation}}</td>
                    <td style="text-align: center;">{{voir_staff.poids_en_grammes}}</td>
                    <td style="text-align: center;">{{voir_staff.titre_en_caract}}</td>
                    <td style="text-align: center;">{{voir_staff.prix_unitaire}}</td>
                    <td style="text-align: center;">{{voir_staff.line_total}}</td>
                </tbody>
            </table >


            <h7 style="margin-left: 90px;" >Arrete cette presente facture a la somme de : <strong>{{voir_staff.numwords}} </strong> Francs cfa</h7>
            <br>
            <br>
            <h6 style="text-align: right; margin-right: 60px;"> <u>CHEF DU GLA</u></h6>

            <br>
            <br>
            <br>
            <br>
            <hr style="border: 1px solid black; width:90%; margin-left: 40px;">
            <p style="text-align: center;" > IST Avenue Cheikh Anta Diop *ex batiment BRGM 2éme étage tel: 33 868 69 94 *Dakar-senegal <br><br> <strong> EmaiL GLA</strong> <u>:Aminata.diouf@minesgeologie.gouv.sn <br> gla@minesgeologie.gouv.sn </u></p>
            <div style="height:90px; margin-top:-50px;">
                <img src="http://127.0.0.1:8000/generate-qr" alt="product" height="100px;" width="120px;">
            </div> 
    </div>

    {% endfor %}
    
    <div>
          <button class="btn btn-success" onclick="window.print();" id="print-btn"> Imprimer </button>  
    </div>
    




    
</body>

</html>